html, 
body, 
* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: rgb(255, 242, 232);
}


.fundo-imagem {
    position: relative;
    background-color: #ff6600;
    height: 1000px;
    width: 400px;
    padding-left: 80px;
}

.info {
    position: absolute;
    text-align: center;
    top: 20%;
    font-size: 25px;
}

.direita {
    position: relative;
    justify-content: left;
    height: 0px;
    bottom: 600px;
    padding-left: 550px;
    width: 100vw;
    color: rgb(59, 59, 59);
}

#imagePerfil {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    margin: 50px;
}

a {
    text-decoration: none;
    color: rgb(247, 183, 124);
    padding: 10px;
    font-weight: bold;
}

a:hover{
    color: white;
}

.nome {
    font-size: 50px;
    font-weight: bold;
}

.dados {
    font-weight: bold;
}

.texto-span {
    color: rgb(247, 183, 124);
}

.descricao {
    margin-top: 50px;
    margin-bottom: 50px;
}


.texto-objetivos {
    position: relative;
    justify-content: left;
    height: 0px;
    bottom: 600px;
    padding-left: 600px;
    width: 100vw;
    font-size: 20px;
    color: rgb(59, 59, 59);
} 

.texto-conhecimentos {
    position: relative;
    justify-content: left;
    height: 0px;
    bottom: 600px;
    padding-left: 600px;
    width: 100vw;
    font-size: 30px;
    color: rgb(46, 46, 46);    
    font-weight: bold;
}

.sobrenome {
    color:rgb(247, 183, 124);
}

